@import './styles/mixins.scss';

.wrapper {
  height: 100%;
  @include flex(column, center, center);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading__spinner {
  @include flex(row, center, center);
  width: 8em;
  height: 8em;
  border-top: 0.8em solid black;
  border-left: 0.8em solid black;
  border-bottom: 0.8em solid black;
  border-right: 0.8em solid transparent;
  border-radius: 100%;
  animation: spin 0.5s ease-in-out 0s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}